@font-face {
  font-family: "SofiaProLight";
  src: local("SofiaProLight"),
  url('../../fonts/Mostardesign-SofiaProLight.otf');
}

@font-face {
  font-family: "SofiaProRegular";
  src: local("SofiaProRegular"),
  url('../../fonts/Mostardesign-SofiaProRegular.otf');
}

.sofia-pro-title {
  font-size: 20px;
  font-weight: 600;
  color: #02063F;
  font-family: "SofiaProLight";
}

.sofia-pro-subtitle {
  font-size: 16px;
  font-weight: 600;
  color: #02063F;
  font-family: "SofiaProLight";
}

.sofia-pro-caption {
  font-size: 14px;
  color: #9699BE;
  font-family: "SofiaProRegular";
}

.v-toolbar__content, .v-toolbar__extension {
  padding: 0 0;
}
